.movie {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 210px;
  border-radius: 10px;
  box-shadow: -1px 4px 4px 1px rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

/* .movie__superior-container {
  display: flex;
  justify-content: end;
} */

.hover {
  position: absolute;
  background-color: rgba(31, 30, 30, 0.958);
  box-shadow: -1px 4px 4px 1px rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
  width: 170px;
  height: 230px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-video-container {
  position: relative;
  border-radius: 5px;
  width: 150px;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.movie__picture {
  object-fit: cover;
  border-radius: 5px;
}

.movie__video-display {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  transition: 0.4s ease-in-out;
  object-fit: cover;
}

.movie__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white);
}

.movie__icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.movie__data-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.movie__name {
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 400;
}

.movie__score {
  display: flex;
  gap: 3px;
  justify-content: center;
}

.movie__views {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 2px;
}

.movie__data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: var(--white);
  gap: 10px;
}

.movie__date {
  font-size: 0.7rem;
  font-weight: 700;
}

.button-movie {
  width: 180px;
  height: 120px;
  display: flex;
}

.button-hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
