.movie {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  box-shadow: -1px 4px 4px 1px rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

/* .movie__superior-container {
  display: flex;
  justify-content: end;
} */

.hover {
  position: absolute;
  background-color: rgba(31, 30, 30, 0.958);
  transition: 0.3s ease-in-out;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
}

.image-video-container {
  position: relative;
  border-radius: 5px;
  width: 100%;
  width: 200px;
  transition: 0.3s ease-in-out;
  display: flex;
}

.movie__picture {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 5px;
}

.movie__video-display {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  transition: 0.4s ease-in-out;
  object-fit: cover;
}

.movie__content {
  display: flex;
  flex-direction: column;
  padding: 20px 18px;
  color: var(--white);
}

.movie__icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.movie__data-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.movie__name {
  font-size: 0.6rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.button-movie {
  width: 180px;
  height: 120px;
  display: flex;
}

.button-hover {
  cursor: pointer;
}

.player__data-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  font-size: 18px;
}

.player__data {
  font-weight: 700;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player__data-detail {
  color: var(--white);
  width: max-content;
}
