.list-section {
  background-color: var(--black);
}

.movies-list {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 30px 20px;
  overflow-x: scroll;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 20px;
}

@media (min-width: 475px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1700px) {
  .movies-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2050px) {
  .movies-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
