.movies-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 30px 20px;
  background-color: var(--black);
}

@media (min-width: 355px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1700px) {
  .movies-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2050px) {
  .movies-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
