.wrap-movies-container {
  background-image: var(--background-movies);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-container__movies {
  margin-top: 120px;
}

.button-flex__movies {
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgba(82, 81, 81, 0.769);
  justify-content: space-evenly;
  color: var(--white);
}

.search-container {
  background-color: black;
  padding: 40px 20px 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.search {
  display: flex;
}

.search-input {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  padding: 5px;
  border-radius: 2px;
  width: 0;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.search-button {
  display: flex;
  align-items: center;
  width: 40px;
}

.show-search {
  border: 1px solid white;
  background-color: rgba(66, 65, 65, 0.545);
  input {
    width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 5px;
    color: var(--white);
  }
}

.search-input:focus {
  outline: none;
}

.pagination {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  padding: 10px 0 40px;
  gap: 20px;
}

.pagination__next,
.pagination__last {
  color: var(--white);
  background-color: rgba(226, 13, 16, 1);
  border-radius: 5px;
  padding: 5px;
  width: 70px;
}
