.header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sign-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 20px;
}

.logo {
  width: 5rem;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background-color: var(--secondary-color);
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  border-radius: 3px;
  height: 32px;
}

.form__select {
  height: 32px;
  width: 45px;
  background-color: rgba(9, 9, 9, 0.775);
  border: 1px solid grey;
  color: var(--white);
  border-radius: 3px;
}
