nav {
  position: sticky;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: 0.3s ease-in-out;
}

.navigation__list {
  color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.navigation-list__active.active {
  color: rgba(189, 196, 32, 0.99);
  font-weight: 700;
}

.navigation-list__inactive {
  border: none;
}

.navigation__link {
  width: max-content;
  padding: 7px 13px;
  font-size: 0.8rem;
}

.logout-button {
  width: 55px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    padding: 0 20px;
  }

  .navigation__list {
    gap: 50px;
  }

  .navigation__link {
    font-size: 0.9rem;
  }

  .logo {
    width: 120px;
  }
}
