nav {
  position: sticky;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: 0.3s ease-in-out;
}

.navigation__list {
  color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.navigation-list__active.active {
  color: rgba(189, 196, 32, 0.99);
  font-weight: 700;
}

.navigation-list__inactive {
  border: none;
}

.navigation__link {
  width: max-content;
  padding: 7px 13px;
  font-size: 0.8rem;
}

.search-logout-container {
  display: flex;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.574);
  border-radius: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.search-button {
  display: flex;
  align-items: center;
  width: 40px;
}

.search-input {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  padding: 5px;
  border-radius: 2px;
  width: 0;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.show-search {
  border: 1px solid white;
  background-color: rgba(66, 65, 65, 0.545);
  input {
    width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 5px;
    color: var(--white);
  }
}

.search-input:focus {
  outline: none;
}

.logout-button {
  width: 55px;
  display: flex;
  align-items: center;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    padding: 0 20px;
  }

  .navigation__list {
    gap: 50px;
  }

  .navigation__link {
    font-size: 0.9rem;
  }

  .logo {
    width: 120px;
  }
}
